@use "frappe";
@use "latte";
@use "sass:color";

// border radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;

// box shadows
$shadow-dark-sm: 0px 4px 6px color.change(frappe.$crust, $lightness: 3%, $alpha: 0.6), 0px 2px 4px color.change(frappe.$crust, $lightness: 3%, $alpha: 0.6);
$shadow-dark-md: 0px 8px 10px color.change(frappe.$crust, $alpha: 0.3), 0px 4px 6px color.change(frappe.$crust, $alpha: 0.3);

$shadow-light-sm: 0px 4px 6px color.change(latte.$subtext1, $alpha: 0.6), 0px 2px 4px color.change(latte.$subtext1, $alpha: 0.6);
$shadow-light-md: 0px 8px 10px color.change(latte.$subtext1, $alpha: 0.3), 0px 4px 6px color.change(latte.$subtext1, $alpha: 0.3);

// borders

$border-dark-textbox: 1px solid frappe.$overlay1;
$border-light-textbox: 1px solid latte.$overlay1;